.acerca-container{
    text-align: center;
}
.info-acerca{
    font-size: 18px;
}
.img-proyecto{
    position: relative;
    width: 1100px;
}
.gif1{
    position: relative;
    width: 480px;
}
.gif2{
    position: relative;
}