h1{
    text-align: center;
    font-size: 35px;
    position: absolute;
    top: 6%;
    right: 40%;
    font-style: italic;
}

.que-es{
    font-size: 22px;
    position: relative;
    left: 0px;
    border: 4px;
    color: aliceblue;
    text-align: center;
    text-align: justify;
    padding: 5px 25px 20px 25px;
    font-size: 18px;
}

.container{
    z-index:-1;
    background-color: black;
    height: 390px;
    width: 655px;
    position: absolute;
    margin: auto;
    left: 6%;
    border-radius: 10px;
    top: 18%;
}

.container2 p{
    position: relative;
    left: 20px;
    bottom: 5px;
    font-size: 20px;
    font-style: italic;
}
.container2 ul{
    position: relative;
    bottom: 10px;

}
.container2{
    background-color: black;
    color: white;
    height: 250px;
    width: 435px;
    position: absolute;
    top: 18%;
    right: 50px;
    border-radius: 10px;
}


.container3{
    background-color: black;
    height: 80px;
    width: 550px;
    position: absolute;
    margin: auto;
    left: 75px;
    border-radius: 50px;
    bottom: 50px;
}

.marimba{ 
    height: 80px;
    width: 530px;
    position: absolute;    
    right: 10px;
    bottom: 13px;
}

.imagencss{
    position: absolute;
    width: 200px;
    left: 585px;
    top: 498px;
}

.gifcss{
    position: absolute;
    width: 350px;
    right: 65px;
    top: 340px;
}